# Игнорировать каталог node_modules
node_modules/

# Игнорирование файла содержащий переменные окружения
venv/

# Игнорирование файлов специфичных для IDE
.idea/
.vscode/
*.sw*

#БД
*.db

#python pyc
*.pyc